<html>
    <head>
        <title>{{ title }}</title>
    </head>


    <body>
     
        <h1>{{ title }}</h1>
        <h2>Distribution: {{ ansible_distribution }}</h2>
        

    </body>


</html>
